
.Header-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  .Header-title {
    // align-items: center;
    text-align: center;
  }
  .Header-image {
    margin-block: 60px 30px;
  }
  .Header-content {
    margin: 0;
    text-align: center;
    padding-block: 20px 70px;
    font-size: 22px;
  }
  
}