
.Project-page {
  background-color: yellowgreen;
  #Project-title {
    margin: 0 auto;
    padding-block: 30px 10px;
    text-align: center;
  }
  .Project-container {
    display: flex;
    justify-content: space-between;
    padding-block: 20px 50px;
    .Project-1 {
      margin-left: 50px;
    }
    .Project-4 {
      margin-right: 50px;
    }
  }
}